// Extend this and add transform property.
.tycheAnimated {
	transition-timing-function: cubic-bezier(.68,-.55,.265, 1.55);
	transition-duration: .3s;
	transition-property: transform,-webkit-transform;
}
